<p id="notice"><%= notice %></p>

  <div class="clearfix col-md-10 text-left"><h1>Phones</h1></div>
  <div class="col-md-2 text-right" style="margin-top:30px;"><%= link_to 'Add New Phone', new_phone_path ,class: "btn btn-primary"%></div>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th> Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @phones.each do |phone| %>
      <tr>
        <td><%= phone.name %></td>
        <td><%= phone.brand.name %></td>
        <td><%= phone.image.present? ? image_tag(phone.image.url(:thumb)) : "N/A" rescue "N/A" %></td>
        <td><%= link_to 'Show',phone_path(phone_alias_name: phone.alias_name.gsub(" ","_"))  %></td>
        <td><%= link_to 'Edit', edit_phone_path(phone.alias_name.gsub(" ","_")) %></td>
        <td><%= link_to 'Destroy', phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Add New Phone', new_phone_path ,class: "btn btn-primary"%>
