<%= simple_form_for(phone_detail) do |f| %>
  <% if phone_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone_detail.errors.count, "error") %> prohibited this phone_detail from being saved:</h2>

      <ul>
      <% phone_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.input :display_size,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :display_resolution,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :display_type,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :display_multitouch,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :ram,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :chipset,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :battery_capacity,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :battery_technology,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :battery_type,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :technology,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input "2g_bands",input_html: {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input "3g_bands",input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input "4g_bands",input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :gprs,input_html: {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input :edge,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :announced,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :status,input_html: {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input :dimensions,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :weight,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :sim,input_html: {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input :os,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :cpu,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :gpu,input_html: {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input :card_slot,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :internal_memory,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :primary_camera,input_html: {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input :camera_features,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :video,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :secondary_camera,input_html: {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input :alert_types,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :loud_speaker,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input "3.5mm_jack",input_html: {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input :wlan,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :bluetooth,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :gps,input_html: {class: "form-control"} %>
  </div>



  <div class="form-group">
    <%= f.input :nfc,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :sensors,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :messaging,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :browser,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :java,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :colors,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :price_in_rupees,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :price_in_dollar,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :protection,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :speed,input_html: {class: "form-control"} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
