<p id="notice"><%= notice %></p>

<h1><%= @phone_detail.phone.name + " Details" %></h1>

<table>
	<tr>
		<th>Name: &nbsp;</th>
		<td><%= @phone_detail.phone.name %></td>
	</tr>
	<tr>
		<th>Size: &nbsp;</th>
		<td><%= @phone_detail.display_size rescue "N/A"%></td>
	</tr>
	<tr>
		<th>Resolution: &nbsp;</th>
		<td><%= @phone_detail.display_resolution rescue "N/A"%></td>
	</tr>
	<tr></tr>
	<tr>
		<th>Display Type: &nbsp;</th>
		<td><%= @phone_detail.display_type rescue "N/A"%></td>
	</tr>

	<tr>
		<th>Multitouch: &nbsp;</th>
		<td><%= @phone_detail.display_multitouch rescue "N/A"%></td>
	</tr>
	<tr>
		<th>RAM: &nbsp;</th>
		<td><%= @phone_detail.ram rescue "N/A"%></td>
	</tr>
	<tr>
		<th>Chipset: &nbsp;</th>
		<td><%= @phone_detail.chipset rescue "N/A"%></td>
	</tr>
	<tr>
		<th>Capacity: &nbsp;</th>
		<td><%= @phone_detail.battery_capacity rescue "N/A"%></td>
	</tr>

	<tr>
		<th>Battery Technology: &nbsp;</th>
		<td><%= @phone_detail.battery_technology rescue "N/A"%></td>
	</tr>
	<tr>
		<th>Technology: &nbsp;</th>
		<td><%= @phone_detail.technology rescue "N/A"%></td>
	</tr>
	<tr>
		<th>2G: &nbsp;</th>
		<td><%= @phone_detail["2g_bands"] rescue "N/A"%></td>
	</tr>
	<tr>
		<th>3G: &nbsp;</th>
		<td><%= @phone_detail["3g_bands"] rescue "N/A"%></td>
	</tr>

	<tr>
		<th>4G: &nbsp;</th>
		<td><%= @phone_detail["4g_bands"] rescue "N/A"%></td>
	</tr>
	<tr>
		<th>GPRS: &nbsp;</th>
		<td><%= @phone_detail.gprs rescue "N/A"%></td>
	</tr>
	<tr>
		<th>EDGE: &nbsp;</th>
		<td><%= @phone_detail.edge rescue "N/A" %></td>
	</tr>
	<tr>
		<th>Announced: &nbsp;</th>
		<td><%= @phone_detail.announced rescue "N/A" %></td>
	</tr>
</table>
		
<%= link_to 'Edit', edit_phone_detail_path(@phone_detail) %> |
<%= link_to 'Back', phone_details_path %><br><br><br><br>

<!-- Code by Dixit -->
<h3>TECH SPEC</h3>
<div class="row spec-list">
	<div class="col-md-3">
		<h4>Processor</h4>
	</div>
	<div class="col-md-9">
		<ul>
			<li>
				<div class="spec">
					<h5 class="spec-title">Memory</h5>
					<div class="spec-desc">
						<p>
							2GB RAM
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="spec">
					<h5 class="spec-title">CPU Speed</h5>
					<div class="spec-desc">
						<p>
							1.6GHz
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="spec">
					<h5 class="spec-title">CPU Type</h5>
					<div class="spec-desc">
						<p>
							Octa-core
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="spec">
					<h5 class="spec-title">Resolution</h5>
					<div class="spec-desc">
						<p>
							1080 x 1920 (FHD)
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="row spec-list">
	<div class="col-md-3">
		<h4>Processor</h4>
	</div>
	<div class="col-md-9">
		<ul>
			<li>
				<div class="spec">
					<h5 class="spec-title">Memory</h5>
					<div class="spec-desc">
						<p>
							2GB RAM
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="spec">
					<h5 class="spec-title">CPU Speed</h5>
					<div class="spec-desc">
						<p>
							1.6GHz
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="spec">
					<h5 class="spec-title">CPU Type</h5>
					<div class="spec-desc">
						<p>
							Octa-core
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="spec">
					<h5 class="spec-title">Resolution</h5>
					<div class="spec-desc">
						<p>
							1080 x 1920 (FHD)
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="spec">
					<h5 class="spec-title">Resolution</h5>
					<div class="spec-desc">
						<p>
							1080 x 1920 (FHD)
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="spec">
					<h5 class="spec-title">Resolution</h5>
					<div class="spec-desc">
						<p>
							1080 x 1920 (FHD)
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="spec">
					<h5 class="spec-title">Resolution</h5>
					<div class="spec-desc">
						<p>
							1080 x 1920 (FHD)
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="row spec-list">
	<div class="col-md-3">
		<h4>Processor</h4>
	</div>
	<div class="col-md-9">
		<ul>
			<li>
				<div class="spec">
					<h5 class="spec-title">Memory</h5>
					<div class="spec-desc">
						<p>
							2GB RAM
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="spec">
					<h5 class="spec-title">CPU Speed</h5>
					<div class="spec-desc">
						<p>
							1.6GHz
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="spec">
					<h5 class="spec-title">CPU Type</h5>
					<div class="spec-desc">
						<p>
							Octa-core
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="spec">
					<h5 class="spec-title">Resolution</h5>
					<div class="spec-desc">
						<p>
							1080 x 1920 (FHD)
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
