<nav class="" style="color:#5c646c!important;background-color:#f7f7f7;">
<div class="container" style="min-height: 90px;padding-top: 20px;">
		<a class="navbar-brand" href="javascript:window.location.href='/'">
			<span style="font-size:40px;font-weight:bold;">MILIND</span>
			<span style="font-size:30px;">PATEL</span>
		</a>
		<div class="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li class="page-scroll">
					<a href="/brands">BRANDS</a>
				</li>
				<li class="page-scroll">
					<a href="/phones">PHONES</a>
				</li>
				<li class="page-scroll">
					<a href="/phone_details">PHONE DETAILS</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
	


<!-- <section class="all-wrap menu-fixed white-magic ">
  <header class="all-header ">
    <a href="#" class="yota-logo"></a>
    <ul class="all-header-menu ">
			<li class="all-header-menu-item all-header-menu-link-product-wrap ">
      	<a href="#" class="all-header-menu-link all-header-menu-link-product" style="opacity: 1;">Products</a>
      	<ul class="all-header-menu-item-sub" style="display: none;"></ul>
      </li>
     </ul>
  </header>
</section> -->









<!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="/brands">Brands</a>
                </li>
                <li>
                    <a href="/phones">Phones</a>
                </li>
                <li>
                    <a href="/phone_details">Phone Details</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->