<!-- <figure class="cap-left">
  <%#= image_tag("sample_screen_shot.png",alt: "Sample") %>
  <figcaption>
    Hello Milind How are you?!!!
  </figcaption>
</figure> -->

<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 400px; overflow: hidden; visibility: hidden;">
	<!-- Loading Screen -->
	<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
		<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
		<div style="position:absolute;display:block;background:url('slider/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
	</div>
	<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
		<div data-p="225.00">
			<img data-u="image" src="assets/slider/red.jpg"/>

			<div style="position: absolute; top: 150px; left: 200px; width: 480px; height: 120px; font-size: 40px; color: #ffffff; line-height: 60px;">TOUCH SWIPE SLIDER</div>
			<!-- <div style="position: absolute; top: 300px; left: 30px; width: 480px; height: 120px; font-size: 30px; color: #ffffff; line-height: 38px;">Build your slider with anything, includes image, content, text, html, photo, picture</div> -->

			<!-- <div style="position: absolute; top: 30px; left: 30px; width: 480px; height: 120px; font-size: 50px; color: #ffffff; line-height: 60px;">TOUCH SWIPE SLIDER</div>
			<div style="position: absolute; top: 300px; left: 30px; width: 480px; height: 120px; font-size: 30px; color: #ffffff; line-height: 38px;">Build your slider with anything, includes image, content, text, html, photo, picture</div> -->
			<div data-u="caption" data-t="0" style="position: absolute; top: 80px; left: 650px; width: 470px; height: 220px;">
				<!-- <img style="position: absolute; top: 0px; left: 0px; width: 470px; height: 220px;" src="assets/slider/c-phone-horizontal.png" /> -->
				<div style="position: absolute; top: 4px; left: 45px; width: 379px; height: 213px; overflow: hidden;">
					<img data-u="caption" style="position: absolute; top: 0px; left: 0px; width: 379px; height: 213px;" src="assets/slider/c-slide-1.jpg" />
					<!-- <img data-u="caption" data-t="2" style="position: absolute; top: 0px; left: 379px; width: 379px; height: 213px;" src="assets/slider/c-slide-3.jpg" /> -->
				</div>
        <!-- <img style="position: absolute; top: 4px; left: 45px; width: 379px; height: 213px;" src="assets/slider/c-navigator-horizontal.png" />
        <img data-u="caption" data-t="3" style="position: absolute; top: 740px; left: 1600px; width: 257px; height: 300px;" src="assets/slider/c-finger-pointing.png" /> -->
      </div>
		</div>
	  <div data-p="225.00" style="display: none;">
	  	<img data-u="image" src="assets/slider/purple.jpg" />
	  </div>
	  <div data-p="225.00" data-po="80% 55%" style="display: none;">
	  	<img data-u="image" src="assets/slider/blue.jpg" />
	  </div>
	  <a data-u="any" href="http://www.jssor.com" style="display:none">Full Width Slider</a>
	</div>
  <!-- Bullet Navigator -->
  <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
  	<!-- bullet navigator item prototype -->
  	<div data-u="prototype" style="width:16px;height:16px;"></div>
  </div>
  <!-- Arrow Navigator -->
  <!-- <span data-u="arrowleft" class="jssora22l" style="top:0px;left:8px;width:40px;height:58px;" data-autocenter="2"></span>
  <span data-u="arrowright" class="jssora22r" style="top:0px;right:8px;width:40px;height:58px;" data-autocenter="2"></span> -->
</div>

<div class="container" style="margin-top:20px;">
	<div class="row">
		<h2 id="thumbnails-custom-content" style="color: #337ab7;">Top Mobile Brands </h2>
		<p>With a bit of extra markup, it's possible to add any kind of HTML content like headings, paragraphs, or buttons into thumbnails.</p>
		<div class="row brand_list"> 
		  <% @brands.each_with_index do |brand,index| %>
		    <% if index == 6 %>
		      <div class="col-md-12">
		        <span id="show_more_brands_link">
		          <a id="show_more_link" onclick="show_more_brands()">Show more brands</a>
		        </span>
		      </div>
		      <div class="top1">
		    <% end %>
		    <div class="col-sm-6 col-md-2">
		      <a href="/<%= brand.name.downcase %>">
		        <div class="thumbnail"> 
		          <%= brand.logo.present? ? (image_tag(brand.logo.url,class: "img-responsive",style: "height: 100%; width: 100%; display: block;")) : image_tag("default.jpg",style: "height: 150px; width: 100%; display: block;") rescue nil%>
							<div class="brand_tag"><strong><%= brand.name %></strong></div>
		        </div> 
		      </a>
		    </div> 
		    <% if index == @brands.length - 1 %>
		      </div>
		    <% end %>
		  <% end %> 
		</div> 
	</div>
</div>

<script type="text/javascript">
  $("document").ready(function(){
    $(".top1").slideUp();
    $(".top1").data("toggle_val", 0);
  });

  function show_more_brands(){
    if($(".top1").data("toggle_val") == 0){
      $(".top1").data("toggle_val", 1);
      $("#show_more_link").text("Hide more brands");
      $(".top1").slideDown(200);
    }
    else{
      $(".top1").data("toggle_val", 0);
      $("#show_more_link").text("Show more brands");
      $(".top1").slideUp(200);
    }
      
  }
</script>















