<%#= @brand.inspect %>
<%= simple_form_for(@brand,class: "form-horizontal") do |f| %>
  <% if brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.input :name,input_html: {class: "form-control"}  %>
  </div>
  <!-- <div class="form-group">
    <%#= f.input :alias_name,input_html: {class: "form-control"}  %>
  </div> -->
  <div class="form-group">
    <%= f.input :description,input_html: {class: "form-control"}  %>
  </div>
  <div class="form-group">
    <%= f.input :priority,input_html: {class: "form-control"}  %>
  </div>
  <div class="form-group">
    <%= f.input :image, as: :file %>
  </div>
  <div class="form-group">
    <%= f.input :logo, as: :file %>
  </div>
  <div class="actions">
    <%= f.button :submit,"Submit",class: "btn btn-default" %>
  </div>
<% end %><br/>

