<div class="container">
	<div class="row"> 
		<div class="col-md-12" style="height:60px;vertical-align:center;margin-top:20px;">
			<ul class="list-inline">
				<li>
					<span style="float:left;clear:both;font-weight: bold;"><h2><%= @brand.name.upcase %></h2></span>
				</li>
				<li>
					<span style="float:left;"><h3><%= "(" + @phones.length.to_s + " Phones)"  %></h3></span>
				</li>
			</ul>

			<!-- <div style="float:left;clear:both;font-weight: bold;margin-top:0px;"><h2><%= @brand.name.upcase %></h2></div>
			<div style="float:left;"><h3><%= "( " + @phones.length.to_s + " Phones )"  %></h3></div> -->
    </div>
		<div class="col-md-10">
	    <% @phones.each do |phone| %>
				<div class="col-md-3 " style="margin-top:30px;">
					<a href="<%= '/'+ @brand.name.downcase + '/' +  phone.name.gsub(" ","_").downcase %>">
						<!-- <div class="thumbnail">  -->
							<div class="p_image1">
								<%= phone.image.present? ? (image_tag(phone.image.url,class: "img-responsive",style: "height: 160px;height: 160px;display: block;margin: auto;width: auto;")) : image_tag("default.jpg",style: "height: 160px; width: 100%; display: block;") rescue nil%>
							</div>
							<div class="p_name_tag">
								<strong><%= phone.name.camelcase %></strong><br/><br/>
								<strong>Announced</strong><%= " " +  phone.phone_details.first.announced rescue nil %><br/>
								<strong>RAM</strong><%= " " + phone.phone_details.first.ram rescue nil %><br/>
								<strong>Internal</strong><%= " " + phone.phone_details.first.rom rescue nil %>
								
							</div>
						<!-- </div>  -->
					</a>
				</div> 
			<% end %> 
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div> 
