<!DOCTYPE html>
<html>
  <head>
    <title>MobileDetails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
  </head>
  <body >
    <%= render "shared/header" %>
    <section style="padding-top: 0px;">
      <%= yield %>
    </section>
    <%= render "shared/footer" %>
  </body>
  <!-- <body>
    <%#= render "shared/header" %>
      <div class="col-md-2">
      </div>
      <div class="container col-md-8">
        <%#= yield %>
      </div>
      <div class="col-md-2">
      </div>
    <#%= render "shared/footer" %>
  </body> -->
</html>
